footer.footer
	.info
		.info__site Сайт основан на базе курса онлайн школы обучения LOFTSCHOOL
		.info__menu
			ul.bNav
				li.bNav__item
					a(href="#").bNav__link Мои работы
				li.bNav__item
					a(href="#").bNav__link Обо мне
				li.bNav__item
					a(href="#").bNav__link Блог
				li.bNav__item
					a(href="#").bNav__link Авторизация
		.info__contact
			ul.contacts
				li.contacts__item
					+icon('phone', 'footer__icon')
					span.contacts__text 89619865555
				li.contacts__item
					+icon('email', 'footer__icon')
					span.contacts__text kocomst@gmail.com
				li.contacts__item
					+icon('location', 'footer__icon')
					span.contacts__text Барнаул
	p ALEXANDR IVKIN 2018