@font-face
	font-family 'RobotoMedium'
	src url('../fonts/Roboto-Medium.ttf') format('truetype')
	font-weight bold
	font-style normal

@font-face
	font-family 'RobotoRegular'
	src url('../fonts/Roboto-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Bernier'
	src url('../fonts/bernier.otf')
	font-weight normal
	font-style normal

@font-face
	font-family 'Comical'
	src url('../fonts/Comical-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal